{% extends 'base.html.twig' %}

{% block title %}Votre panier
{% endblock %}

{% block body %}
	<h1>Votre panier</h1>

	{% if items | length > 0 %}

		<table class="table">
			<thead>
				<tr>
					<th>Offres</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>{{ item.offer.name }}</td>
						<td>{{ item.offer.price }}</td>
						<td>
							<a href="{{ path("cart_decrement", {'id': item.offer.id}) }}" class="btn btn-sm btn-primary">
								<i class="fas fa-minus"></i>
							</a>
							{{ item.qty }}
							<a href="{{ path("cart_add", {'id': item.offer.id}) }}?returnToCart=true" class="btn btn-sm btn-primary">
								<i class="fas fa-plus"></i>
							</a>
						</td>
						<td>{{ item.total }}</td>
						<td>
							<a href="{{ path("cart_delete", {'id': item.offer.id}) }}" class="btn btn-sm btn-danger">
								<i class="fa-solid fa-xmark"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">Total :</td>
					<td colspan="2">{{ total }}</td>
				</tr>
			</tfoot>
		</table>
		<br>
		{% if app.user %}
			<form action="{{ path('purchase_confirm') }}" method="post" class="text-right">
				<button type="submit" class="btn btn-success">Valider la commande</button>
			</form>
		{% else %}
			<h2>Vous devez être connecté pour confirmer cette commande</h2>
			<a href="{{ path('security_login') }}" class="btn btn-primary">Connectez-vous</a>
			ou
			<a href="{{ path('user_register') }}">creez un compte</a>
		{% endif %}
	{% else %}
		<hr>
		<br>
		<h3>Votre panier est vide pour l'instant
			<i class="fa-solid fa-otter"></i>
		</h3>
	{% endif %}
{% endblock %}
