{% extends "base.html.twig" %}

{% block title %}
	Billeterie
{% endblock %}

{% block body %}

	<h1>Billeterie</h1>

	{#Cartes des offres#}
	<div class="row">
		{% for o in offers %}
			<div class="col-lg-4 col-md-6 mb-4">
				<div class="card">
					<img src="{{ asset(o.picture) }}" alt="Image offre" class="img-fluid">
					<div class="card-body">
						<h3 class="card-title">{{o.name}}
						</h3>
						<span class="badge rounded-pill bg-primary">Prix :
							{{o.price / 100}}
							&euro;
						</span>
						<p class="card-text">{{o.description}}</p>
						<a href="{{ path('cart_add', {'id': o.id}) }}" class="btn btn-primary btn-sm">Ajouter au panier</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<hr>

	{#Instructions#}
	<h2>Instructions :</h2>

	<div class="row">
		{% include "shared/warning.html.twig" with {
				'color' : 'bg-primary',
				'icon' : 'fa-solid fa-ticket',
				'text' : "Lors de l'achat d'une offre, votre e-billet sera disponible dans le menu Mes commandes, il contiendra un QRcode à faire scanner le jour de votre visite."
			} %}
		{% include "shared/warning.html.twig" with {
				'color' : 'bg-warning',
				'icon' : 'fa-solid fa-triangle-exclamation',
				'text' : 'Un e-billet n\'est remboursable que si celui-ci n\'a pas été utilisé. De plus, veillez à bien lire la description de chaque offre '
			} %}
	</div>
	<br>

{% endblock %}
